* {
  font-family: Optima, Candara, sans-serif;
  box-sizing: border-box;
}

.nav-bar {
  background-color: rgb(21, 47, 72);
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start; 
;}

nav a {
  text-decoration: none;
  margin-top: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-end;
  align-items: flex-end; 
}


h1 {
  color: rgb(25, 110, 194);
  font-family: Optima, Candara, sans-serif;
  font-size: 300%;
}

h2 {
  color: rgb(21, 97, 173);
  font-family: Optima, Candara, sans-serif;
  font-size: 200%;
  font-weight: 700;
}

h3 {
  color: rgb(16, 75, 135);
  font-family: Optima, Candara, sans-serif;
  font-size: 175%;
  font-weight: 700;
}

body {
  margin-top: 150px;
  margin: 2em;
}

body,
input[type="text"],
button {
  color: rgb(44, 52, 60);
  font-family: Candara, Calibri, serif;
}
