* {
  font-family: Optima, Candara, sans-serif;
}

h1 {
  color: rgb(25, 110, 194);
  font-size: 300%;
}

h2 {
  color: rgb(21, 97, 173);
  font-size: 200%;
  font-weight: 700;
  text-align: center;
}

h3 {
  color: rgb(16, 75, 135);
  font-size: 175%;
  font-weight: 700;
}

.eom-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;
  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

button {
  font-size: 1rem;
  text-align: center;
  background-color: rgb(38, 85, 133);
  color: rgb(255, 255, 255);
  width: 190px;
  height: 50px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  margin-bottom: 0.5em;
  padding-bottom: 0.1em;
}

button:hover {
  color: white;
  background-color: rgb(21, 47, 72);
  box-shadow: 1px 1px 1px 2px rgb(198, 204, 209);
}
