* {
  font-family: Optima, Candara, sans-serif;
  box-sizing: border-box;
}

h2 {
  color: rgb(21, 97, 173);
  font-size: 200%;
  font-weight: 700;
}

h3 {
  color: rgb(16, 75, 135);
  font-size: 175%;
  font-weight: 700;
}

.staff {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

.staff li {
  position: relative;
  cursor: pointer;
}

.staff li:hover {
  left: 0.1em;
}

.staff a {
  color: black;
  text-decoration: none;
  height: 50px;
  border-radius: 5px;
  border: thin solid rgb(21, 47, 72);
  margin: 0.5em;
  border-radius: 4px;
  display: block;
  width: 100%;
  box-shadow: 1px 1px 1px grey;
}

.staff a:hover {
  color: white;
  background-color: rgb(21, 47, 72);
  box-shadow: 1px 1px 1px 2px rgb(198, 204, 209);
}

.staff .badge {
  border-radius: 5px;
  border: thin solid #888;
  display: inline-block;
  font-size: small;
  color: white;
  padding: 1.3em 1em;
  background-color: rgb(38, 85, 133);
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -1px;
  width: 40px;
  height: 50px;
  min-width: 16px;
  text-align: right;
  margin-right: 0.8em;
}

.add-button {
  font-size: 1rem;
  text-align: center;
  background-color: rgb(38, 85, 133);
  color: rgb(255, 255, 255);
  width: 190px;
  height: 50px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  margin-bottom: 0.5em;
  padding-bottom: 0.1em;
}

.add-button:hover {
  color: white;
  background-color: rgb(21, 47, 72);
  box-shadow: 1px 1px 1px 2px rgb(198, 204, 209);
}

button.delete {
  background-color: white;
  color: black;
  font-size: 1rem;
  margin: 9px;
  padding: 1px 10px 3px 10px;
  border-radius: 3px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  width: 240px;
}

button.delete:hover {
  color: white;
  background-color: rgb(133, 38, 38);
  box-shadow: 1px 1px 1px 2px rgb(198, 204, 209);
}
