<h2>Our staff</h2>
<ul class="staff">
  <li *ngFor="let staff of staffMembers">
    <button [class.selected]="staff === selectedStaff" type="button" (click)="onSelect(staff)">
      <span class="badge">{{staff.id}}</span>
      <span class="name">{{staff.name}}</span>
    </button>
  </li>
</ul>

<section *ngIf="selectedStaff">
  <h2>{{selectedStaff.name}} Details</h2>
  <section>id: {{selectedStaff.id}}</section>
  <section>
    <label for="hero-name">Staff member's name: </label>
    <input id="hero-name" [(ngModel)]="selectedStaff.name" placeholder="name">
  </section>
</section>

